.event-modal {
  position: 'absolute';
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 2px solid #000;
  /* boxShadow: 24, */
  /* p: 4, */
  
};

.event-modal-container {
    min-height: 1000000px !important;

    border: solid;
    background-color: aqua !important
  };

  .sonia {
    background-color: red;
  }