.filter-container{
    /* display: flex; */
    /* background-color: aqua; */
    /* border: solid 1px palegreen; */
    /* height: 130px; */

    max-width: fit-content;
    margin-inline: auto;
    overflow-y: auto;
    align-items: center;
    .event-type-filter{
        display: inline !important
    }
}
